.sidebar-title {
    font-size: 25px;
    font-weight: normal;
    font-family: sans-serif;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;

}

.sidebar {
    width: 15rem;
    position: fixed;
    height: 100%;
    border-right: 2px solid rgb(201, 201, 201);
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: right;
    background-color: #f9f9f9;
    margin-left: 0.5rem;
}




.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.h1 {
    font-size: 10px;
    font-family: sans-serif;
    margin: 1.5rem;
}