.sidebar-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar-items {
    margin-top: 1.5rem;
}

.sidebar-label-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #d4caca;
    border-radius: 50%;
}

.sidebar-label-container input {
    display: none;
}

.sidebar-label-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.sidebar-label-container:hover input:checked ~ .checkmark {
    background-color: #2196f3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.sidebar-label-container input:checked ~ .checkmark::after {
    display: block;
}

.sidebar-label-container .checkmark::after {
    top: 6.4px;
    left: 6.4px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

.line {
    margin-top: 3rem;
    border-color: #f7f7f7;
}