.card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 18rem;
  margin-top: 2rem;
  z-index: -2;
}

.card {
  border: 2px solid #ededed;
  padding: 20px;
  cursor: pointer;
  margin: 1rem;
}

.card-img {
  width: 13rem;
  margin-bottom: 1rem;
  height: 13rem;
}

.card-title {
  width: 13rem;
  margin-bottom: 1rem;
}

.card-reviews {
  display: flex;
  margin-bottom: 1rem;
}

.rating-star {
  color: #FFD700;
  margin-right: 0.2rem;
}

.total-reviews {
  margin-left: 0.5rem;
  color: #777;
  font-size: 0.9rem;
}

.card-price {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.bag-icon {
  font-size: 1.5rem;
  color: #555;
}

.total-reviews {
  margin-left: 0.5rem;
  color: #615d5d;
  font-size: 0.9rem;
}